/* This will target  every h1 on your page */
h1 {
  color: blue;
  background-color: yellow;
}

/* This will target an element with the ID helloworld we use the # in front of the selector to designate that it is an id selector
  Remember, only ONE element on the page can have the ID.  They are unique.
*/
#helloworld {
  color: purple;
  background-color: aquamarine;
}

/* This will target  every p on your page */
p {
  color: red;
}

/* This will target an element with the class pinkBlueStyle we use the . in front of the selector to designate that it is a class selector
	Multiple elements(even of different types) can use the same class
*/
.pinkBlueStyle {
  background-color: #fc03be;
  color: blue;
}

/* This will target an element with the class mySecondClass we use the . in front of the selector to designate that it is a class selector
  Multiple elements(even of different types) can use the same class
*/
.mySecondClass {
  font-style: italic;
  font-size: 42pt;
}
